## VacationPy

### Obervations

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Export cities csv
cities = "../output_data/city_data.csv"
cities_df = pd.read_csv(cities)
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tasiilaq,65.6145,-37.6368,28.40,64,28,3.44,GL,05-16-2021
1,Avarua,-21.2078,-159.7750,77.00,78,75,9.22,CK,05-16-2021
2,Severo-Kuril'sk,50.6789,156.1250,37.02,89,100,18.90,RU,05-16-2021
3,Jamestown,42.0970,-79.2353,53.60,40,90,3.36,US,05-16-2021
4,Jacobabad,28.2810,68.4388,105.24,19,0,11.27,PK,05-16-2021
...,...,...,...,...,...,...,...,...,...
556,Ingham,42.6000,-84.3833,52.00,82,90,5.75,US,05-16-2021
557,Puerto Peñasco,31.3167,-113.5333,73.00,73,0,18.01,MX,05-16-2021
558,Kandiari,26.9156,68.5216,108.50,15,0,7.36,PK,05-16-2021
559,Viedma,-40.8135,-62.9967,48.88,75,100,4.23,AR,05-16-2021
560,Puno,-15.8333,-70.0333,38.14,61,0,4.21,PE,05-16-2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = cities_df["Humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

#Create heat layer
heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=2)
# Add layer
fig.add_layer(heatmap_layer)

# Display the figure
print(fig)

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values

In [5]:
#reduce cities to ideal conditions 
preferred_cities = cities_df.loc[(cities_df["Wind Speed"]<= 10) & (cities_df["Cloudiness"] == 0) & 
                                (cities_df["Max Temp"]>= 70) & (cities_df["Max Temp"]<= 80)].dropna()

preferred_cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
78,Ixtapa,20.7000,-105.2000,78.01,62,0,2.06,MX,05-16-2021
266,Manatí,18.4275,-66.4921,72.00,94,0,5.10,PR,05-16-2021
269,Richards Bay,-28.7830,32.0377,78.42,33,0,9.10,ZA,05-16-2021
331,Chardara,41.2547,67.9692,77.09,26,0,4.43,KZ,05-16-2021
369,Bingöl,38.8847,40.4939,77.00,31,0,1.14,TR,05-16-2021

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = preferred_cities.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df.head()

             City Country      Lat       Lng Hotel Name
78         Ixtapa      MX  20.7000 -105.2000
266        Manatí      PR  18.4275  -66.4921
269  Richards Bay      ZA -28.7830   32.0377
331      Chardara      KZ  41.2547   67.9692
369        Bingöl      TR  38.8847   40.4939

In [8]:
# Set up necessary criteria
target_coordinates = f"{hotel_df['Lat']},{hotel_df['Lng']}"
target_search = 'hotel'
target_radius = 5000
target_type = 'lodging'

# #Variable to keep track of response number
# record = 0

# create a dictionary of parameters that need to be passed to the request
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request 
response = requests.get(base_url, params=params)

In [9]:
print(response.url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=78+++++20.7000%0A266++++18.4275%0A269+++-28.7830%0A331++++41.2547%0A369++++38.8847%0A391+++-21.5667%0A394++++-5.7950%0A398++++32.5056%0A432++++36.0998%0A497++++-8.2578%0A513++++33.0483%0A530+++-24.5917%0A540++++16.5165%0AName%3A+Lat%2C+dtype%3A+float64%2C78++++-105.2000%0A266++++-66.4921%0A269+++++32.0377%0A331+++++67.9692%0A369+++++40.4939%0A391+++++21.7833%0A394++++-35.2094%0A398+++-110.9211%0A432++++++0.4206%0A497++++-49.2647%0A513+++++35.3098%0A530+++++27.4116%0A540++++-15.5068%0AName%3A+Lng%2C+dtype%3A+float64&keyword=hotel&radius=5000&type=lodging&key=AIzaSyBWadXVQ_HfHm1yiLdqQKasuS6oAXsHB_U

In [11]:
# convert response to json
hotel_data = response.json()

# print(json.dumps(hotel_data, indent=4, sort_keys=True))

In [12]:
# Print the name and address of the first restaurant that appears
print(hotel_data["results"][0]["name"])
print(hotel_data["results"][0]["vicinity"])

IndexError: list index out of range

In [ ]:

for index, row in hotel_df.iterrows():

# for index, row in hotel_df.iterrows():
#     # get city name, lat, lnt from df
#     lat = row["Lat"]
#     lng = row["Lng"]
#     city_name = row["City"]
    
#     # add keyword to params dict
#     params["location"] = f"{lat},{lng}"

#     # assemble url and make API request
#     print(f"Retrieving Results for Index {index}: {city_name}.")
#     response = requests.get(base_url, params=params).json()
    
#     # extract results
#     results = response['results']
    
#     # save the hotel name to dataframe
#     try:
#         print(f"Closest hotel in {city_name} is {results[0]['name']}.")
#         hotel_df.loc[index, "Hotel Name"] = results[0]['name']

#     # if there is no hotel available, show missing field
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")
        
#     print("------------")
    
#     # Wait 1 sec to make another api request to avoid SSL Error
#     time.sleep(1)

# # Print end of search once searching is completed
# print("-------End of Search-------")

---------------------------------------------------------------------------------------

# Parameters dictionary
# params = {
#     "radius": 5000,
#     "types": "lodging",
#     "key": g_key
# }

# # Find closest hotels
# for index, row in hotel_df.iterrows():
    
#     latitude = row["Lat"]
#     longitude = row["Lng"]
#     params["location"] = f"{lat},{lng}"
#     base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
#     print(f"Retrieving Results for Index {index}: {row['City']}.")
#     response = requests.get(base_url, params=params).json()
#     results = response['results']
    
#     try:
#         print(f"Closest hotel is {results[0]['name']}.")
#         hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
#         pd.options.mode.chained_assignment = None
        
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")
        
#     print("------------")

In [ ]:
# Display the hotel dataframe
hotel_df

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in nearest_hotel_preferred_cities.iterrows()]
locations = nearest_hotel_preferred_cities[["Lat", "Lng"]]

In [ ]:
# Add a marker layer on top of the heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer
fig.add_layer(marker_layer)

# Display figure
fig
#print(fig)