## VacationPy

### Obervations

In [68]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_key import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [69]:
# Export csv
cities_df = pd.read_csv("../output_data/city_data.csv")

# drop NA values
# cities_df = cities_df.dropna()
cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tasiilaq,65.6145,-37.6368,28.40,64,28,3.44,GL,05-16-2021
1,Avarua,-21.2078,-159.7750,77.00,78,75,9.22,CK,05-16-2021
2,Severo-Kuril'sk,50.6789,156.1250,37.02,89,100,18.90,RU,05-16-2021
3,Jamestown,42.0970,-79.2353,53.60,40,90,3.36,US,05-16-2021
4,Jacobabad,28.2810,68.4388,105.24,19,0,11.27,PK,05-16-2021
...,...,...,...,...,...,...,...,...,...
556,Ingham,42.6000,-84.3833,52.00,82,90,5.75,US,05-16-2021
557,Puerto Peñasco,31.3167,-113.5333,73.00,73,0,18.01,MX,05-16-2021
558,Kandiari,26.9156,68.5216,108.50,15,0,7.36,PK,05-16-2021
559,Viedma,-40.8135,-62.9967,48.88,75,100,4.23,AR,05-16-2021
560,Puno,-15.8333,-70.0333,38.14,61,0,4.21,PE,05-16-2021

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [70]:
# configure gmaps
gmaps.configure(api_key = g_key)

In [71]:
# Plot Heatmap

# Set up variables
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"].astype(float)
fig = gmaps.figure(center=(16.522731, -5.042275), zoom_level=2)

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values

In [72]:
#reduce cities to ideal conditions 
preferred_cities_df = cities_df.loc[(cities_df["Humidity"]<= 80) &(cities_df["Wind Speed"]<= 10) & (cities_df["Cloudiness"] == 0) & 
                                (cities_df["Max Temp"]>= 70) & (cities_df["Max Temp"]<= 80)].dropna()

preferred_cities_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
78,Ixtapa,20.7000,-105.2000,78.01,62,0,2.06,MX,05-16-2021
269,Richards Bay,-28.7830,32.0377,78.42,33,0,9.10,ZA,05-16-2021
331,Chardara,41.2547,67.9692,77.09,26,0,4.43,KZ,05-16-2021
369,Bingöl,38.8847,40.4939,77.00,31,0,1.14,TR,05-16-2021
391,Ghanzi,-21.5667,21.7833,71.38,26,0,6.76,BW,05-16-2021
398,Catalina,32.5056,-110.9211,73.99,27,0,9.33,US,05-16-2021
432,Sidi Ali,36.0998,0.4206,73.45,34,0,2.66,DZ,05-16-2021
513,Fassuta,33.0483,35.3098,77.00,57,0,5.75,IL,05-16-2021
530,Thabazimbi,-24.5917,27.4116,73.63,20,0,5.26,ZA,05-16-2021
540,Dagana,16.5165,-15.5068,75.20,50,0,2.30,MR,05-16-2021

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [73]:
# Create a hotel_df
hotel_df = preferred_cities_df[["City","Country", "Lat", "Lng"]].copy()

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

             City Country      Lat       Lng Hotel Name
78         Ixtapa      MX  20.7000 -105.2000
269  Richards Bay      ZA -28.7830   32.0377
331      Chardara      KZ  41.2547   67.9692
369        Bingöl      TR  38.8847   40.4939
391        Ghanzi      BW -21.5667   21.7833
398      Catalina      US  32.5056 -110.9211
432      Sidi Ali      DZ  36.0998    0.4206
513       Fassuta      IL  33.0483   35.3098
530    Thabazimbi      ZA -24.5917   27.4116
540        Dagana      MR  16.5165  -15.5068

In [77]:
# Set up search criteria

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [78]:
# Iterate through dataframe
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 78: Ixtapa.
Closest hotel in Ixtapa is Hotel Plaza Providencia.
------------
Retrieving Results for Index 269: Richards Bay.
Closest hotel in Richards Bay is BON Hotel Waterfront Richards Bay.
------------
Retrieving Results for Index 331: Chardara.
Closest hotel in Chardara is Жанаргул.
------------
Retrieving Results for Index 369: Bingöl.
Closest hotel in Bingöl is Vali Konağı.
------------
Retrieving Results for Index 391: Ghanzi.
Closest hotel in Ghanzi is Ghanzi Farmhouse.
------------
Retrieving Results for Index 398: Catalina.
Closest hotel in Catalina is Miraval Arizona Resort & Spa.
------------
Retrieving Results for Index 432: Sidi Ali.
Closest hotel in Sidi Ali is الغابة الترفيهية بورحمة.
------------
Retrieving Results for Index 513: Fassuta.
Closest hotel in Fassuta is Villa Rosa Galilea.
------------
Retrieving Results for Index 530: Thabazimbi.
Closest hotel in Thabazimbi is Eagle's Rest.
------------
Retrieving Results for Index 540: Dagana.
Closest hotel in Dagana is Quartier Dille koumba fatim thiam.
------------
-------End of Search-------

In [66]:
# Print the first hotel info
first_hotel = hotel_df[["City","Country", "Hotel Name"]].copy()
first_hotel.head(1)

      City Country               Hotel Name
78  Ixtapa      MX  Hotel Plaza Providencia

In [79]:
# Print updated hotel dataframe
hotel_df

,City,Country,Lat,Lng,Hotel Name
78,Ixtapa,MX,20.7000,-105.2000,Hotel Plaza Providencia
269,Richards Bay,ZA,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
331,Chardara,KZ,41.2547,67.9692,Жанаргул
369,Bingöl,TR,38.8847,40.4939,Vali Konağı
391,Ghanzi,BW,-21.5667,21.7833,Ghanzi Farmhouse
398,Catalina,US,32.5056,-110.9211,Miraval Arizona Resort & Spa
432,Sidi Ali,DZ,36.0998,0.4206,الغابة الترفيهية بورحمة
513,Fassuta,IL,33.0483,35.3098,Villa Rosa Galilea
530,Thabazimbi,ZA,-24.5917,27.4116,Eagle's Rest
540,Dagana,MR,16.5165,-15.5068,Quartier Dille koumba fatim thiam

In [80]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [81]:
# Add a marker layer on top of the heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))